body {
  font-family: Alegreya Sans;

}
.menu {
  position: absolute;
  /*background: #cd3e3d;
  width: 3em;
  height: 3em;
  */
  background: LightBlue;
  border-radius: 10em;
  margin: auto;
box-shadow: 0 4px 15px rgba(0,79,255,0.4);
  /*margin-top: 5em;
  margin-bottom: 5em;*/
  cursor: pointer;
  /*border: 1em solid #fdaead;*/
  /*border: 1em solid LightBlue;*/
  width: 12em;
  height: 12em;
  left: 280px;
  top:250px;
}
.menu:after {
  content: "";
  position: absolute;
  top: 1em;
  left: 1em;
  /*width: 1em;
  height: 0.2em;
  */
  width: 3em;
  height: 0.5em;
/*  border-top: 0.6em double #fff;
  border-bottom: 0.2em solid #fff;*/
  border-top: 1.2em double #fff;
  border-bottom: 0.4em solid #fff;
  left: 75px;
  top:80px;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu li {
  /*width: 5em;
  height: 1.4em;*/
  width: 9em;
  height: 3.2em;
  /*padding: 0.2em;
  margin-top: 0.2em;*/
  padding: 0.4em;
  /*margin-top: 0.4em;*/
  text-align: center;
  /*border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  */
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  /*
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  */
  transition: all 1s;
  /*background: #fdaead;*/
  background: LightBlue;
  opacity: 0;
  z-index: -1;
}
.menu:hover li {
  opacity: 1;
}

.menu:hover ul::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  left: 50%;
  top: -5.0em;

  /*border-width: 6.5em;*/
  border-width: 1.5em;
  border-radius: 0 7.5em 7.5em 0;
  border-left: 0;
  border-style: solid;

  border-color: rgba(0,0,0,0.01);

  z-index: -1;

  cursor: default;
}
.menu a {
  color: white;
  text-decoration: none;

  line-height: 1.5em;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu ul {
  transform: rotate(180deg) translateY(-2em);
  transition: 1s all;
}
.menu:hover ul {
  transform: rotate(0deg) translateY(-1em);
}
.menu li:hover {
/*  background: #cd3e3d;*/
background: SteelBlue;
  z-index: 10;
}

.menu li:nth-of-type(1) {
  transform: rotate(-90deg);
  position: absolute;
  /*left: -1.2em;
  top: -4.2em;
  */
  left: 0em;
  top: -7em;
}
.menu li:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
  left: 6em;
  top: -5em;
  /*left: 2em;
  top: -3em;*/
}
.menu li:nth-of-type(3) {
  position: absolute;
  left:9.5em;
  top: 4em;
  /*left: 3.4em;
  top: 0.3em;*/
}
.menu li:nth-of-type(4) {
  transform: rotate(45deg);
  position: absolute;
  left: 6em;
  top: 12em;
  /*left: 2em;
  top: 3.7em;*/
}
.menu li:nth-of-type(5) {
  transform: rotate(90deg);
  position: absolute;
  /*left: -1.2em;
  top: 5em;
  */
  left: 0em;
  top: 14em;
}
.hint {
  text-align: center;
}
@media(max-width:1050px){
  body {
    font-family: Alegreya Sans;

  }
  .menu {
    position: absolute;
    /*background: #cd3e3d;
    width: 3em;
    height: 3em;
    */
    background: LightBlue;
    border-radius: 8em;
    margin: auto;

    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    /*border: 1em solid #fdaead;*/
    border: none;
    box-shadow: 0 4px 15px rgba(0,79,255,0.4);
    width: 9em;
    height: 9em;
    left: 150px;
    top:70px;
  }
  .menu:after {
    content: "";
    position: absolute;

    width: 2em;
    height: 0.3em;
    border-top: 1.2em double #fff;
    border-bottom: 0.4em solid #fff;
    left:55px;
    top:60px;
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    /*width: 5em;
    height: 1.4em;*/
    width: 7em;
    height: 2.2em;
    /*padding: 0.2em;
    margin-top: 0.2em;*/
    padding: 0.4em;
    margin-top: 0.4em;
    text-align: center;
    /*border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    */
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    /*
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    */
    transition: all 1s;
    /*background: #fdaead;*/
    background: LightBlue;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }

  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: -5.0em;

    /*border-width: 6.5em;*/
    border-width: 1.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;

    border-color: rgba(0,0,0,0.01);

    z-index: -1;

    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;

    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
  /*  background: #cd3e3d;*/
  background: SteelBlue;
    z-index: 10;
  }

  .menu li:nth-of-type(1) {
    transform: rotate(-90deg);
    position: absolute;
    left: -0.5em;
    top: -5.5em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    left: 4em;
    top: -4em;
    /*left: 2em;
    top: -3em;*/
  }
  .menu li:nth-of-type(3) {
    position: absolute;
    left:7.5em;
    top: 3em;
    /*left: 3.4em;
    top: 0.3em;*/
  }
  .menu li:nth-of-type(4) {
    transform: rotate(45deg);
    position: absolute;
    left: 4em;
    top: 9em;
    /*left: 2em;
    top: 3.7em;*/
  }
  .menu li:nth-of-type(5) {
    transform: rotate(90deg);
    position: absolute;
    left: -0.5em;
    top: 11em;
  }
  .hint {
    text-align: center;
  }
}


@media(max-width:800px){
  .menu {
    position: absolute;
    /*background: #cd3e3d;
    width: 3em;
    height: 3em;
    */
    background: LightBlue;
    border-radius: 8em;
    margin: auto;

    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    /*border: 1em solid #fdaead;*/
    border: none;
    box-shadow: 0 4px 15px rgba(0,79,255,0.4);
    width: 5em;
    height: 5em;
    left: 90px;
    top:40px;
  }
  .menu:after {
    content: "";
    position: absolute;

    width: 2em;
    height: 0.3em;
    border-top: 1.2em double #fff;
    border-bottom: 0.4em solid #fff;
    left:55px;
    top:60px;
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    /*width: 5em;
    height: 1.4em;*/
    width: 7em;
    height: 2.2em;
    /*padding: 0.2em;
    margin-top: 0.2em;*/
    padding: 0.4em;
    margin-top: 0.4em;
    text-align: center;
    /*border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    */
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    /*
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    */
    transition: all 1s;
    /*background: #fdaead;*/
    background: LightBlue;
    opacity: 0;
    z-index: -1;
  }
  .menu:hover li {
    opacity: 1;
  }

  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: -5.0em;

    /*border-width: 6.5em;*/
    border-width: 1.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;

    border-color: rgba(0,0,0,0.01);

    z-index: -1;

    cursor: default;
  }
  .menu a {
    color: white;
    text-decoration: none;

    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
  }
  .menu li:hover {
  /*  background: #cd3e3d;*/
  background: SteelBlue;
    z-index: 10;
  }

  .menu li:nth-of-type(1) {
    transform: rotate(-90deg);
    position: absolute;
    left: -0.5em;
    top: -5.5em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    left: 4em;
    top: -4em;
    /*left: 2em;
    top: -3em;*/
  }
  .menu li:nth-of-type(3) {
    position: absolute;
    left:7.5em;
    top: 3em;
    /*left: 3.4em;
    top: 0.3em;*/
  }
  .menu li:nth-of-type(4) {
    transform: rotate(45deg);
    position: absolute;
    left: 4em;
    top: 9em;
    /*left: 2em;
    top: 3.7em;*/
  }
  .menu li:nth-of-type(5) {
    transform: rotate(90deg);
    position: absolute;
    left: -0.5em;
    top: 11em;
  }
  .hint {
    text-align: center;
  }
}

}
